<%- layout("/layouts/boilerplate") %>  

<body>
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 mx-auto">
            <div class="alert alert-danger" role="alert">
                <%= message %>
            </div>
        </div>
    </div>
</body>
