.navbar {
    height: 5rem;

    background: rgba(255, 255, 255, 0.6); /* semi-transparent */
    backdrop-filter: blur(12px);          /* glass blur */
    -webkit-backdrop-filter: blur(12px);  /* Safari support */

    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 2px 20px rgba(0,0,0,0.1);
}

.fa-airbnb {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info {
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}